
@model GodlySeeds_Online_Result_Checker.Models.PrintResultViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LoginLayoutPage.cshtml";
}

<section id="loginForm">

    @using (Html.BeginForm("PrintMultiple", "PrintMultiple", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <img id="logo" src="~/Content/GodlyseedsenuguLogo.png" height="100" />



        @*<script>
                alert("NOTE: JSS1 that do not have admission number yet should use their surname and their first name with a space in between. Do well to select the right session and Class. ")
            </script>*@


        @Html.AntiForgeryToken()
        <h3>Print Multiple</h3>

        if (Model.ErrorMessage != null)
        {
            <p class="alert alert-danger"> @Model.ErrorMessage </p>

        }

        <hr />
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

     

        <div class="form-group">
            <div class="col-md-10 col-sm-10 col-xs-12">

                @Html.LabelFor(m => m.Class, new { @class = "col-lg-10 col-md-8 col-xs-10" })


                <select name="Class" class="form-control">
                    <option value="JSS 1A">JSS 1A</option>
                    <option value="JSS 1B">JSS 1B</option>
                    <option value="JSS 2A">JSS 2A</option>
                    <option value="JSS 2B">JSS 2B </option>
                    <option value="JSS 3A">JSS 3A</option>
                    <option value="JSS 3B">JSS 3B </option>
                    <option value="SSS 1A">SSS 1A </option>
                    <option value="SSS1Arts">SSS 1 Arts </option>
                    <option value="SSS1Science">SSS 1 Science </option>
                    <option value="SSS2Arts">SSS 2 Arts </option>
                    <option value="SSS2Science">SSS 2 Science </option>
                    <option value="SSS3Arts">SSS 3 Arts </option>
                    <option value="SSS3Science">SSS 3 Science </option>
                </select>

                @Html.ValidationMessageFor(m => m.Class, "", new { @class = "text-danger" })

            </div>
        </div>


        <div class="form-group">
            <div class="col-md-10 col-sm-10 col-xs-12">

                @Html.LabelFor(m => m.Session, new { @class = "col-lg-10 col-md-8 col-xs-10" })


                <select name="Session" class="form-control">
                    <option value="2020">2019/2020 Session</option>
                    <option value="2021">2020/2021 Session</option>
                    <option value="2022">2021/2022 Session</option>


                </select>

                @Html.ValidationMessageFor(m => m.Class, "", new { @class = "text-danger" })

            </div>
        </div>


        <div class="form-group">
            <div class="col-md-10 col-sm-10 col-xs-12">

                @Html.LabelFor(m => m.Term, new { @class = "col-lg-10 col-md-8 col-xs-10" })


                <select name="Term" class="form-control">
                    <option value="1st Term">1st Term</option>
                    <option value="2nd Term">2nd Term</option>
                    <option value="3rd Term">3rd Term</option>
                    <option value="Annual">Annual</option>

                </select>

                @Html.ValidationMessageFor(m => m.Class, "", new { @class = "text-danger" })

            </div>
        </div>


        <div class="form-group">
            <div class="col-md-10 col-sm-10 col-xs-12">
                <input type="submit" value="Print Result" class="btn btn-lg btn-default" />
                <p>
                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                </p>
            </div>


        </div>

        //Enable this once you have account confirmation enabled for password reset functionality

    }
</section>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

